<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- header-->
  <div class="header">
    <div class="left-header">
        <h1>
            <a href="./index.html" title="行動學習網">
                <img src="./assets/images/0_Plublic/1_header/logo.png" alt="行動學習網">
            </a>
        </h1>
        <div class="contact">
            <a href="tel:0800-223-003">
                <img src="./assets/images/0_Plublic/1_header/icon_phone.png" alt="">
                <span>免費諮詢專線</span>
            </a>
            <a href="tel:0800-223-003">
                0800-223-003
            </a>
        </div>
    </div>
    <div class="right-header">
        <div class="header-search">
            <span style="padding-left: 15px;">現在有<span>214</span>門課課程|</span><span>2323265</span><span>位會員</span>
            <label class="find">
                <input placeholder="想找點什麼課程?">
            </label>
        </div>
        <div class="icon">
            <ul>
                <li><a href="#"><img src="./assets/images/0_Plublic/1_header/icon_member.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/images/0_Plublic/1_header/icon_cart.png" alt=""></a></li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#"><img src="./assets/images/0_Plublic/1_header/menu_1.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/images/0_Plublic/1_header/menu_2.png" alt=""></a></li>
            </ul>
        </div>
    </div>
  </div>

  <%- contents %>


  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
