.footer-container {
    background-image: url(../images/9_Footer/pic.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .footer {
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 50%;
    }
    h2 {
        font-size: 48px;
        letter-spacing: 10px;
        color: white;
        margin-top: 6%;
    }
    small {
        color: white;
        margin-top: 2%;
        font-size: 28px;
    }
    .box {
        margin-top: 6%;
        border-radius: 50px;
        border: 1px solid #c8c8c8;
        display: flex;
        align-items: center;
        i {
            font-size: 35px;
            background-color: white;
            padding: 20px;
            border-radius: 50px;
            color: #068FDF;
        }
        a {
            margin-left: 15px;
            font-size: 36px;
            text-decoration: none;
            letter-spacing: 10px;
            color: white;
            display: inline-block;
            font-weight: bolder;
        }
    }
    p {
        margin-top: 6%;
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
    }
}
.copyRight {
    max-width: 1400px;
    padding: 50px 50px 10px 30px;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    img {
        display: block;
        width: 600px;
    }
    span {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 5px;
    }
}