.container {
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    .left-header {
        width: 50%;
        height: 80px;
        display: flex;
        h1 {
            display: flex;
            margin: 3% 0 0 2%;
            padding-right: 2%;
            border-right: 1px solid rgb(151, 151, 151);
        }
        a {
            text-decoration: none;
        }
        img {
            width: 500px;
        }
        .contact {
            margin-top: 10px;
            padding-left: 1.5%;
            &-inner:first-child {
                display: flex;
                align-items: center;
                text-decoration: none;
                letter-spacing: 20px;
                font-size: 18px;
                padding-top: 10px;
                color: black;
                font-weight: bold;
            }
            a:last-child {
                display: inline-block;
                padding-top: 10px;
                padding-left: 6px;
                color: black;
                font-size: 16px;
                letter-spacing: 12.5px;
                font-weight: bold;
            }
            a:hover {
                opacity: .7;
            }
            img {
                padding-right: 15px;
                width: 30px;
            }
        }
    }
    .right-header {
        width: 50%;
        display: flex;
        justify-content: space-between;
        .header-search {
            width: 40%;
            padding-top: 15px;
            margin-left: 10%;
            span {
                display: inline-block;
                letter-spacing: 5px;
            }
            label {
                display: block;
            }
            input {
                margin-top: 15px;
                text-indent: 40px;
                width: 100%;
                height: 40px;
                border-radius: 20px;
                border: none;
                background-color: rgb(221, 221, 221);
                outline: none;
            }
            input::placeholder {
                letter-spacing: 3px;
                color: #a7a7a7;
            }
            .find {
                position: relative;
            }
            .find::before {
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f002";
                font-size: 16px;
                position: absolute;
                color: #068FDF;
                left: 3%;
                top: 40%;
                transform: translateY(0%);
            }
        }
        .icon {
            margin: 25px 0 0 0px;  
            ul {
                display: flex;
            }
            li {
                margin: 0 20px;
            }
            img {
                width: 60px;
                display: block;
            }
        }
        .menu {
            ul {
                display: flex;
                justify-content: end;
            }
            img {
                width: 105px;
                display: block;
            }
        }
    }
    .fixed-right {
        position: fixed;
        right: 2%;
        top: 12%;
        z-index: 2;
        img {
            width: 50px;
            display: block;
        }
        &-menu {
            position: relative;
        }
        .dropdown-toggle {
            margin-top: 280px;
        }
        .icon {
            display: none;
            bottom: 10%;
            position: absolute;
            li {
                margin-top: 15px;
            }
        }
    }
    .fixed-black {
        &-box {
            width: 20px;
            height: 370px;
            z-index: 2;
            background-color: black;
            position: fixed;
            right: 0;
            top: 13%;
        }
        .menu {
            display: none;
        }
        ul {
            z-index: 2;
            display: flex;
            flex-direction: column;
            position: fixed;
            right: 0;
            top: 12.5%;
            li {
                img {
                    width: 105px;
                    display: block;
                }
            }
        }
    }
}
.mySwiper {
    margin-top: 120px;
    img {
        width: 100%;
        height: 500px;
        display: block;
    }
}
