body {
    font-family: '微軟正黑體';
    line-height: 1.5;
    height: 100%;
  }

  .container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .d-block {
    display: block !important
  }
  
  .line {
    width: 550px !important;
  }
  
  .border-none {
    border: none !important;
  }
  
  .sub-title {
    padding: 6px 0;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 10px;
  }

  .sub-text {
    padding-top: 15px;
    color: #068FDF;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 900;
    letter-spacing: 3.5px;
  }

  .modal-bg {
    background-color: rgba(0,0,0,0.8) !important;
    z-index: 99999;
  }
  
  @mixin classification {
    margin-top: 25px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c8c8c8;
    p {
        padding: 8px 12px;
        background-color: #fbb03b;
        color: white;
        font-weight: 900;
    }
    small {
        letter-spacing: 5px;
    }
  }

  .button {
    display: block;
    text-decoration: none;
    margin: 40px auto 40px auto;
    padding: 15px 0;
    width: 250px;
    font-size: 21px;
    border-radius: 50px;
    background-color: #081f2c;
    color: white;
    transition: background-color 0.5s;
    &::after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f054";
        font-size: 18px;
        margin-left: 15px;
        padding: 4px;
        color: #068FDF;
        transition: color 0.5s;
    }
    &:hover {
        background-color: #068FDF;
    }
    &:hover::after {
        color: white;
    }
  }