body {
    font-family: '微軟正黑體';
  }
  .d-block {
    display: block
  }
  
  .line {
    width: 550px !important;
  }
  
  .border-none {
    border: none !important;
  }
  
  .sub-title {
    padding: 35px 0;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 10px;
  }
  
  .sub-text {
    padding-top: 15px;
    color: #068FDF;
    font-size: 21px;
    line-height: 1.5;
    font-weight: 900;
    letter-spacing: 3.5px;
  }
  
  @mixin classification {
    margin-top: 25px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c8c8c8;
    p {
        padding: 8px 12px;
        background-color: #fbb03b;
        color: white;
        font-weight: 900;
    }
    small {
        letter-spacing: 5px;
    }
  }